[submodule "bundle/drake"]
	path = bundle/drake
	url = https://bitbucket.org/larsyencken/vim-drake-syntax.git
[submodule "bundle/clojure-static"]
	path = bundle/clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/pig"]
	path = bundle/pig
	url = https://github.com/motus/pig.vim
[submodule "bundle/logfile"]
	path = bundle/logfile
	url = https://github.com/Jintian/vim-logfile
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/hallison/vim-markdown.git
