[submodule "vim/bundle/drake"]
	path = vim/bundle/drake
	url = https://bitbucket.org/larsyencken/vim-drake-syntax.git
[submodule "vim/bundle/clojure-static"]
	path = vim/bundle/clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/pig"]
	path = vim/bundle/pig
	url = https://github.com/motus/pig.vim
[submodule "vim/bundle/logfile"]
	path = vim/bundle/logfile
	url = https://github.com/Jintian/vim-logfile
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "_include/vim-pathogen"]
	path = _include/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/riv"]
	path = vim/bundle/riv
	url = https://github.com/Rykka/riv.vim.git
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "_include/dircolors-solarized"]
	path = _include/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "zsh/zsh-custom/plugins/zsh-autosuggestions"]
	path = zsh/zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh/zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/zsh-custom/plugins/zsh-nvm"]
	path = zsh/zsh-custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
