<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_barChart_position</key>
	<integer>4</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>0</integer>
	<key>Battery_battery_details_mode</key>
	<string>percentageAndTime</string>
	<key>Battery_battery_position</key>
	<integer>2</integer>
	<key>Battery_color</key>
	<true/>
	<key>Battery_label_position</key>
	<integer>1</integer>
	<key>Battery_mini_position</key>
	<integer>3</integer>
	<key>Battery_state</key>
	<true/>
	<key>Battery_widget</key>
	<string>battery_details</string>
	<key>CPU_barChart_position</key>
	<integer>0</integer>
	<key>CPU_bar_chart_box</key>
	<false/>
	<key>CPU_bar_chart_color</key>
	<string>secondRed</string>
	<key>CPU_bar_chart_frame</key>
	<true/>
	<key>CPU_hyperhreading</key>
	<false/>
	<key>CPU_idleColor</key>
	<string>lightGray</string>
	<key>CPU_label_position</key>
	<integer>2</integer>
	<key>CPU_lineChart_position</key>
	<integer>3</integer>
	<key>CPU_mini_position</key>
	<integer>1</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_processes</key>
	<integer>8</integer>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_updateInterval</key>
	<integer>5</integer>
	<key>CPU_updateTopInterval</key>
	<integer>5</integer>
	<key>CPU_usagePerCore</key>
	<false/>
	<key>CPU_widget</key>
	<string>bar_chart</string>
	<key>Clock_label_position</key>
	<integer>1</integer>
	<key>Clock_stack_position</key>
	<integer>0</integer>
	<key>Clock_state</key>
	<false/>
	<key>Clock_widget</key>
	<string>sensors</string>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>none</string>
	<key>Disk_barChart_position</key>
	<integer>0</integer>
	<key>Disk_label_position</key>
	<integer>2</integer>
	<key>Disk_memory_position</key>
	<integer>4</integer>
	<key>Disk_mini_position</key>
	<integer>1</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>3</integer>
	<key>Disk_speed_position</key>
	<integer>5</integer>
	<key>Disk_state</key>
	<false/>
	<key>Disk_updateInterval</key>
	<integer>60</integer>
	<key>Disk_widget</key>
	<string>bar_chart</string>
	<key>GPU_barChart_position</key>
	<integer>0</integer>
	<key>GPU_bar_chart_box</key>
	<false/>
	<key>GPU_bar_chart_color</key>
	<string>secondYellow</string>
	<key>GPU_bar_chart_frame</key>
	<true/>
	<key>GPU_label_position</key>
	<integer>1</integer>
	<key>GPU_lineChart_position</key>
	<integer>3</integer>
	<key>GPU_mini_position</key>
	<integer>2</integer>
	<key>GPU_state</key>
	<false/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_updateInterval</key>
	<integer>5</integer>
	<key>GPU_widget</key>
	<string>bar_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSStatusItem Preferred Position CombinedModules</key>
	<real>287</real>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>3024 597 800 448 1920 -246 3008 1667 </string>
	<key>Network_state</key>
	<false/>
	<key>RAM_barChart_position</key>
	<integer>0</integer>
	<key>RAM_bar_chart_box</key>
	<false/>
	<key>RAM_bar_chart_color</key>
	<string>secondGreen</string>
	<key>RAM_bar_chart_frame</key>
	<true/>
	<key>RAM_label_position</key>
	<integer>1</integer>
	<key>RAM_lineChart_position</key>
	<integer>3</integer>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_position</key>
	<integer>2</integer>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_updateInterval</key>
	<integer>5</integer>
	<key>RAM_updateTopInterval</key>
	<integer>5</integer>
	<key>RAM_widget</key>
	<string>bar_chart</string>
	<key>SSD_bar_chart_box</key>
	<false/>
	<key>SSD_bar_chart_color</key>
	<string>secondBlue</string>
	<key>SSD_bar_chart_frame</key>
	<true/>
	<key>Sensors_barChart_position</key>
	<integer>2</integer>
	<key>Sensors_fanControl</key>
	<false/>
	<key>Sensors_fanValue</key>
	<string>percentage</string>
	<key>Sensors_label_position</key>
	<integer>1</integer>
	<key>Sensors_popup_fanValue</key>
	<string>rpm</string>
	<key>Sensors_sensors_mode</key>
	<string>automatic</string>
	<key>Sensors_sensors_monospacedFont</key>
	<false/>
	<key>Sensors_sensors_size</key>
	<false/>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_updateInterval</key>
	<integer>5</integer>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Average CPU</key>
	<true/>
	<key>sensor_F0Ac</key>
	<false/>
	<key>sensor_F1Ac</key>
	<false/>
	<key>sensor_Fastest fan</key>
	<false/>
	<key>sensor_Hottest CPU</key>
	<false/>
	<key>sensor_TB1T</key>
	<false/>
	<key>sensor_TCGC</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>telemetry</key>
	<false/>
	<key>telemetry_id</key>
	<string>D0119A6B-2936-4EB4-8385-5258895DC11C</string>
	<key>update-interval</key>
	<string>Once per week</string>
	<key>updater_check_ts</key>
	<integer>1717582578</integer>
	<key>version</key>
	<string>2.10.15</string>
</dict>
</plist>
